@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
}
$clr-white:#F4F0F1;
$clr-gray:#181A1A;
$clr-pink:#FF7E7E;

body{
    background-color: $clr-white;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

///////////////////////////////////////////////

nav{
    .navbar{
        
        padding: 0 1.375rem;
        .logo{
            font-size: 1.25rem;
        }
        .nav-header{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            
            width: 100%;
            height: 10vh;
            .btn-toggle{
                background: transparent;
                border: transparent;
                transition: all .5s;
                div{
                    width: 31.5px;
                background-color: $clr-gray;
                height: 2px;
                margin: 9px;
                transition: all .5s;
                }
            }
            .btn-toggle:hover{
                div{
                    background-color: $clr-pink;
                }
            }
        }
        .nav-links{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 41px;

            height: 0;
            overflow-y: hidden;

            transition: all .35s;
            list-style: none;
            a{
                color:$clr-gray;
                font-size: 2rem;
                transition: color .5s;

            }
            a:hover{
                color: $clr-pink;
            }

            .nav-icons{
                display: flex;
                height: 20vh;
                overflow-y: hidden;
                align-items: flex-end;
                gap: 2rem;
            }


        }
        .show-links{
            height: 80vh;
        }
        .unable{
            visibility: hidden;
        }
    }
}
