@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
  font-weight: 300;
}

body {
  background-color: #F4F0F1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav .navbar {
  padding: 0 1.375rem;
}
nav .navbar .logo {
  font-size: 1.25rem;
}
nav .navbar .nav-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
}
nav .navbar .nav-header .btn-toggle {
  background: transparent;
  border: transparent;
  transition: all 0.5s;
}
nav .navbar .nav-header .btn-toggle div {
  width: 31.5px;
  background-color: #181A1A;
  height: 0.125rem;
  margin: 0.563rem;
  transition: all 0.5s;
}
nav .navbar .nav-header .btn-toggle:hover div {
  background-color: #FF8086;
}
nav .navbar .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.625rem;
  height: 0;
  overflow-y: hidden;
  transition: all 0.35s;
  list-style: none;
}
nav .navbar .nav-links a {
  color: #181A1A;
  font-size: 2rem;
  transition: color 0.5s;
}
nav .navbar .nav-links a:hover {
  color: #FF8086;
}
nav .navbar .nav-links .icons {
  height: 20vh;
  overflow-y: hidden;
  align-items: flex-end;
  gap: 2rem;
  display: flex;
}
nav .navbar .show-links {
  height: 90vh;
}
nav .navbar .unable {
  visibility: hidden;
}

@media screen and (min-width: 800px) {
  nav {
    display: flex;
    justify-content: center;
  }
  nav .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  nav .navbar .logo {
    visibility: visible;
  }
  nav .navbar .btn-toggle {
    display: none;
  }
  nav .navbar .nav-links {
    height: auto;
    overflow: visible;
    justify-content: baseline;
    flex-direction: row;
  }
  nav .navbar .nav-links a {
    font-size: 1.25rem;
  }
  nav .navbar .nav-links .icons {
    display: none;
  }
}
@-webkit-keyframes arrowdown {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}
@keyframes arrowdown {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}
.home {
  padding: 0 1.375rem;
}
.home .home-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}
.home .home-c .home-cc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.home .home-c .home-cc .home-img-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .home-c .home-cc .home-img-c .home-img {
  padding-top: 10%;
  max-width: 60%;
}
.home .home-c .home-cc .home-img-c .home-img img {
  width: 100%;
  border-radius: 100%;
}
.home .home-c .home-cc .home-img-c .icons {
  display: none;
}
.home .home-c .home-cc .home-txt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.home .home-c .home-cc .home-txt h1 {
  font-size: 2rem;
}
.home .home-c .home-cc .home-txt h1 span {
  color: #FF8086;
}
.home .home-c .home-cc .home-txt p {
  font-size: 1.5rem;
}
.home .home-c .arrow-down {
  color: #FF8086;
  padding-bottom: 2rem;
  -webkit-animation: arrowdown 0.9s infinite;
          animation: arrowdown 0.9s infinite;
  position: relative;
}

@media screen and (min-width: 800px) {
  .home {
    display: flex;
    justify-content: center;
  }
  .home .home-c {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }
  .home .home-c .home-cc {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
    width: 70%;
  }
  .home .home-c .home-cc .home-img-c {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  .home .home-c .home-cc .home-img-c .home-img {
    padding-top: 0;
    max-width: 200px;
    min-width: 177px;
  }
  .home .home-c .home-cc .home-img-c .icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .home .home-c .home-cc .home-img-c .icons a {
    font-size: 1.5rem;
    color: #181A1A;
    transition: color 0.5s;
  }
  .home .home-c .home-cc .home-img-c .icons a:hover {
    color: #FF8086;
  }
  .home .home-c .home-cc .home-txt {
    min-width: 350px;
  }
  .home .home-c .home-cc .home-txt h1 {
    font-size: 2.5rem;
  }
  .home .home-c .home-cc .home-txt p {
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */